<h1>Create your roulette</h1>
  <form method="POST" action="/invite">

  <label>Message: </label>
  <input type="text" name="message"></input>

  </br>	

  <label>Hour: </label>
  <input type="text" name="hour">2009-06-01T13:45:30</input>


  <input type="submit" value="submit">
</form>

